<div class="create-ticket-div">
	<h4 class="form-title"> Create A New Ticket Issue </h4>
	<form #ticketForm="ngForm" (ngSubmit)="onSubmit(ticketForm)">
		<input type="hidden" name="$key" #$key="ngModel" [(ngModel)]="ticketService.selectedTicket.$key">
		<div class="form-group">
			<label> Ticket Issue </label>
			<input class="form-control" name="title" #title="ngModel" [(ngModel)]="ticketService.selectedTicket.title" placeholder="Ticket Issue" required>
		</div>
		<div class="form-group">
			<label> Ticket Issue Description </label>
			<textarea class="form-control" name="description" #description="ngModel" [(ngModel)]="ticketService.selectedTicket.description" placeholder="Ticket Issue Description"></textarea>
		</div>
		<div class="form-group">
			<button class="btn btn-default" type="submit" [disabled]="!ticketForm.valid"> Submit </button>
			<button class="btn btn-default" type="button" (click)="resetForm(ticketForm)"> Reset </button>
		</div>
	</form>
</div>